<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @raiway_station.title %>
</p>

<%= link_to 'Edit', edit_raiway_station_path(@raiway_station) %> |
<%= link_to 'Back', raiway_stations_path %>
